baseURL = "https://ingyeomnote.github.io/"
languageCode = "ko-kr"
title = "Ingyeom's Tech Blog"

[params]
  description = "개발, 프로젝트 및 기술 기록을 위한 개인 기술 블로그"
  author = "Ingyeom"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = true
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = true
  tocopen = false

[params.homeInfoParams]
  Title = "Ingyeom's Tech Blog"
  Content = "개발, 프로젝트 및 기술을 기록하는 공간입니다."

[[params.socialIcons]]
  name = "github"
  url = "https://github.com/ingyeomnote"

[params.cover]
  hidden = true
  hiddenInList = true
  hiddenInSingle = true

[menu]
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10

  [[menu.main]]
    identifier = "categories"
    name = "Categories"
    url = "/categories/"
    weight = 20

  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 30

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 40

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    lineNos = true
    noClasses = false
    style = "monokai"
    tabWidth = 4
