{{ define "main" }}
<div class="home-intro">
    <h2>{{ .Site.Params.homeInfoParams.Title }}</h2>
    <p>{{ .Site.Params.homeInfoParams.Content }}</p>
</div>

<h2>최근 포스트</h2>
<ul class="post-list">
    {{ range first 10 (where .Site.RegularPages "Type" "posts").ByPublishDate.Reverse }}
    <li>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="post-meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006년 1월 2일" }}</time>
        </div>
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        <p>{{ .Summary }}</p>
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ end }}
